@tailwind base;
@tailwind components;

$primary-color:#d0bdf4;

body{
  width:100%;
  margin: 10vh;
  background-color: $primary-color;
  li {
    list-style: none
  };
  .btn-pink {
    @apply bg-pink-300 text-white font-bold py-2 px-6 rounded;
  }
}

@tailwind utilities;