.nav {
  border: 1px solid black;
  background-color: whitesmoke;
  height: 10vh;
  
  ul{
    display: inline-block;
    list-style: none;
  }
  
  
  li {
    font-family:cursive;
    align-self: center;
    float: left;
    margin: auto;
    padding: 3vh;
    margin-left: 20vh;
  }

  a{
    text-decoration: none;
    font: purple;

  }

}